global:
  ingressSubdomain: <dev-cluster-name>.us-south.containers.appdomain.cloud
  tlsSecretName: <dev-cluster-name>

<app-chart-name>:
  replicaCount: 3
  
  # For OpenShift set route.enabled=true
  # For Kubernetes set route.enabled=false
  route:
    enabled: true
  
  # For OpenShift set ingress.enabled=false
  # For Kubernetes set ingress.enabled=true
  ingress:
    enabled: false
    tlsSecretName: <dev-cluster-name>

